{
  "serverDomain" : "burpcollaborator.example.com",
  "workerThreads" : 10,

  "eventCapture": {
      "localAddress" : ["10.20.0.159", "127.0.0.1"],
      "publicAddress" : "10.20.0.159",

      "http": {
         "port" : 80
       },

      "https": {
          "port" : 443,
          "certificateFiles" : [
              "keys/burpcollaborator.example.com.key.pkcs8", 
              "keys/burpcollaborator.example.com.crt", 
              "keys/intermediate.crt" ]
      }
  },

  "polling" : {
      "localAddress" : "127.0.0.1",
      "publicAddress" : "10.20.0.159",

      "http": {
          "port" : 9090
      },

      "https": {
          "port" : 9443,
          "hostname" : "collaboratorpolling.example.com"
      }
  },

  "metrics": {
      "path" : "jnaicmez8",
      "addressWhitelist" : ["21.10.23.0/24"]
  },
        
  "dns": {
      "interfaces" : [{
          "name":"ns1",
          "localAddress":"34.23.11.6",
          "publicAddress":"98.87.76.55"
      },{
          "name":"ns2",
          "localAddress":"34.23.11.6",
          "publicAddress":"98.87.11.00"
      }],
      "port" : 53
   }
}
